<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jEtherTeX/src/de/kreisquadratur/jEtherTeX/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.kreisquadratur.jEtherTeX.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jEtherTeX"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-d32 -XstartOnFirstThread -Xdock:name=&quot;jEtherTeX&quot; -Xdock:icon=de/kreisquadratur/jEtherTeX/res/icon.png"/>
</launchConfiguration>
